.webgl-content {
  position: absolute;
  top: 2%;
   left: 2%;
  /*-webkit-transform: translate(-50%, -30%);
  transform: translate(-50%, -50%);*/
}

#textare{
  resize: none;
  width: 200px;
  display: flex;
  flex-direction:column-reverse;
}
