.webgl-content {
  position: absolute;
  top: 2%;
   left: 2%;
  /*-webkit-transform: translate(-50%, -30%);
  transform: translate(-50%, -50%);*/
}

textarea{
  resize: none;
 /* display: flex;
  flex-direction:column-reverse; */
  margin-top: 5px;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

